body {
   background-image: url('Pictures/body1.jpeg');
   background-repeat: no-repeat;
   background-size: cover;
 }
#myCanvas{
   position: relative;
  left:23vw;
   top:15vh;
   border: 1px solid black;
      background-image: url("Pictures/canvasbg.png");
      background-size: cover; /* Optional */
    
        
}
